@{
    ViewData["Title"] = "Home Page";
}

<div class="text-justify">
    <div class="text-center">
        <h1 class="display-4">Projeto final jornada Microsoft.</h1>
    </div>
    <p>Neste projeto foi desenvolvido uma aplicação console em .Net 5 que simula algumas ações que são executadas em um elevador.Ao iniciar o programa será perguntado ao usuário informações de inicialização,sendo elas a quantidade de andares e capacidade de pessoas.</p>
    <div class="text-center">
        <img src="/img/img-1.png" alt="Alternate Text" />
    </div>
    <br />
    <p>Em sequência será apresentado o menu com as ações para 1-Entrar, 2- Sair,  e 3- Finalizar Programa.</p>
    <br />
    <div class="text-center">
        <img src="/img/img-2.png" alt="Alternate Text" />
    </div>
    <br />
    <p>Ao escolher a opção 1, será perguntado ao usuário o andar desejado para deslocamento, nesta ação será validado quando informado um andar inválido que esteja fora da faixa de valores informada na inicialização do programa. </p>
    <br />
    <div class="text-center">
        <img src="/img/img-3.png" alt="Alternate Text" />
        <br />
        <img src="/img/img-7.png" alt="Alternate Text" />
    </div>
    <br />
    <p>Quando informado um andar com valor maior que andar atual que é inicializado com 0(térreo) o programa executará a função de Subir() , caso contrário será executado a função de Descer() , antes de executar as funções o programa também validará se capacidade foi atingida e se o andar informado for igual ao andar escolhido , retornando mensagens de validação para o usuário. </p>
    <div class="text-center">
        <img src="/img/img-10.png" alt="Alternate Text" />
        <br /> 
        <img src="/img/img-5.png" alt="Alternate Text" />
        <br />
        <img src="/img/img-8.png" alt="Alternate Text" />
        <br />
        <img src="/img/img-6.png" alt="Alternate Text" />
    </div>
    <p>No menu inicial ao selecionar a opção 2-Sair ocorrerá um decremento no total de pessoal que estiver no elevador quando o total de pessoas  for maior que zero, a opção 3- Sair do programa irá parar a execução da aplicação</p>
    <div class="text-center">
        <img src="/img/img-10.png" alt="Alternate Text" />
        <br />
        <img src="/img/img-5.png" alt="Alternate Text" />
        <br />
        <img src="/img/img-8.png" alt="Alternate Text" />
        <br />
        <img src="/img/img-6.png" alt="Alternate Text" />
    </div>
    <br />
    <br />
    <p>Está foi a descrição das funcionalidade do Projeto Elevador ptoposto como projeto final da jornada microsoft para maiores informações acesso o código fonte do programa no <a href="https://github.com/mariseamorim/jornadams" target="_blank">GitHub</a>.</p> 



</div>
